body {
  background-color: #70b8bf;
}

h1 {
  color: navy;
  margin-left: 20px;
}
footer {
  text-align: center; 
  display:flex;
  justify-content:space-around;
  background-color:#70b899;
  padding:10px
}
header {
  text-align: center
}

