body {
  background-color: #70b8bf;
  font-family: Roboto, Arial;
  text-align: center;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 32px;
}
a {text-decoration: none; }
h1 {
  color: navy;
  margin-left: 40px;
  font-size:35px;
  text-align:center;
  font-family: Arial
}
footer {
  text-align: center; 
  display:flex;
  justify-content:space-around;
  background-color:#B0E0E6;
  padding:10px
}
header {
  text-align: center; 
  display:flex;
  justify-content:space-around;
  background-color:#FFA500;
  padding:10px
}
img{
  width:"20";
  height:"20";
}

button{
  font-size:35px
}

