body {
  background-color: #70b8bf;
  font-family: Arial
}
a {text-decoration: none; }
h1 {
  color: navy;
  margin-left: 20px;
  font-size:20px;
  text-align:center;
  font-family: Arial
}
footer {
  text-align: center; 
  display:flex;
  justify-content:space-around;
  background-color:#e93f3a;
  padding:10px
}
header {
  text-align: center; 
  display:flex;
  justify-content:space-around;
  background-color:#e93f3a;
  padding:10px
}
form{    
    width: 50%;
    margin-left: 25%
}

